body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1a1a1a;
}

#table_game td {
    border: 2px solid;
    height: 70px;
    width: 70px;

    text-align: center;
    font-size: 30px;
    text-transform: uppercase;

    background-color: #1a1a1a;
    border:1px solid #696969;
    color: white;
}

.error_word {
    display: block;
    font-size: 20px;
    color: #b71c1c;
}

.yellow_letter {
    background-image: url("../img/yellow-circle.svg");
    background-position: center;
    background-size: cover;
    background-color: #1a1a1a;
}

.red_letter {
    background-color: #b71c1c;
}

#table_keyboard td{
    margin: 10%;
    padding: 3% 10%;
    border-radius: 10%;
    color: white;
    background: #262626;
}

.tdLight{
    background: #7e7e7e !important;
}